<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sga_Tracker::tracker" title="Tracker" translate="title" module="Sga_Tracker" sortOrder="100" parent="Magento_Backend::content_elements" action="tracker/tag" resource="Sga_Tracker::tracker_tag"/>
    </menu>
</config>